<div class="panel-body ">
    <div class="row">
        <h1>Estudios Realizados</h1>
        <div>
            <ul>
                <br>
                <ng-container *ngFor="let Educacion of educacion">
                    <li>
                        <h2>{{Educacion.titulo}}</h2>
                        <h3>{{Educacion.institucion}}</h3>
                    </li>
                    <h4>({{Educacion.fecha_inicio}} - {{Educacion.fecha_fin}})</h4>
                    <br>
                </ng-container>
            </ul>
        </div>
    </div>
</div>