<div class="panel-body ">
    <div class="row">
        <h1>Experiencia Laboral</h1>
        <div>
            <ul>
                <br>
                <ng-container *ngFor="let Experiencia of experiencias">
                    <li>
                        <h2>{{Experiencia.empresa}}</h2>
                        <h3>({{Experiencia.fecha_inicio}} - {{Experiencia.fecha_fin}})</h3>
                    </li>
                    <h4>{{Experiencia.cargo}}</h4>
                    <h5>{{Experiencia.descripcion}}</h5>
                    <br>
                </ng-container>
            </ul>
        </div>
    </div>
</div>