<div class="panel-body ">
    <div class="row">
        <div class="text">
            <h1>Experiencia Laboral </h1>
            <a class="btn btn-primary tooltips" data-bs-toggle="modal" data-bs-target="#myModal1" data-placement="top"
                data-toggle="tooltips" data-original-title="Edit"><i class="fa fa-pencil"></i>
            </a>
        </div>

        <div>
            <ul>
                <br>
                <ng-container *ngFor="let Experiencia of experiencias">
                    <li>
                        <h2>{{Experiencia.empresa}}</h2>
                        <h3>({{Experiencia.fecha_inicio}} - {{Experiencia.fecha_fin}})</h3>
                    </li>
                    <h4>{{Experiencia.cargo}}</h4>
                    <h5>{{Experiencia.descripcion}}</h5>
                    <div class="">
                    <a class="btn btn-primary tooltips" data-bs-toggle="modal" data-bs-target="#myModal2"
                        data-placement="top" data-toggle="tooltips" data-original-title="Edit"><i
                            class="fa fa-pencil"></i>
                    </a>
                    <a class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltips"
                        data-original-title="Delete"><i class="fa fa-times"></i>
                    </a>
                    </div>
                    <br>
                </ng-container>               
            </ul>
        </div>
        <br>    
        <br>
        </div>
        <div class="modal"   id="myModal1" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Agregar Experiencia</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                  <input 
                  type="text" placeholder="Indique Nombre de la empresa"
                  name="Nombre y Apellido"
                  class="form-control"
                  id="nombre"
                  />
                 <div class="">
                    <input 
                    type="text" placeholder="Indique fecha de inicio"
                    name="Nombre y Apellido"
                    class="form-control"
                    id="nombre"
                    />
                 <div class="">
                        <input 
                        type="text" placeholder="Indique fecha de fin"
                        name="Nombre y Apellido"
                        class="form-control"
                        id="nombre"
                        />
                        <div class="">
                            <input 
                            type="text" placeholder="Indique cargo"
                            name="Nombre y Apellido"
                            class="form-control"
                            id="nombre"
                            />
                            <div class="">
                                <input 
                                type="text" placeholder="Descripcion"
                                name="Nombre y Apellido"
                                class="form-control"
                                id="nombre"
                                />
                                           
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Guardar cambios</button>
                
                <div class="modal"   id="myModal2" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Editar información</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="modal-body" >
                          <input 
                          type="text" placeholder="Indique Nombre de la empresa"
                          name="Nombre y Apellido"
                          class="form-control"
                          id="nombre"
                          />
                         <div class="">
                            <input 
                            type="text" placeholder="Indique fecha de inicio"
                            name="Nombre y Apellido"
                            class="form-control"
                            id="nombre"
                            />
                         <div class="">
                                <input 
                                type="text" placeholder="Indique fecha de fin"
                                name="Nombre y Apellido"
                                class="form-control"
                                id="nombre"
                                />
                         <div class="">
                                <input 
                                type="text" placeholder="Indique cargo"
                                name="Nombre y Apellido"
                                class="form-control"
                                id="nombre"
                                />
                         <div class="">
                                <input 
                                type="text" placeholder="Descripcion"
                                name="Nombre y Apellido"
                                class="form-control"
                                id="nombre"
                                />
                         <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn btn-primary">Guardar cambios</button>
                                       
    </div>
    </div>
    </div>