<div class="panel-body ">
    <div class="row">
        <h1>Proyectos Realizados</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <br>
                <h2>Peluditos Tandil</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos soluta repudiandae aspernatur
                    iste minima quos impedit itaque, dolores fuga modi quod alias asperiores nesciunt ad enim optio.
                    Maiores, sapiente doloribus?</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/Portada Peluditos.png" id="img" class="img-fluid" img-proyecto>
            </div>
        </div>
    </div>